.footer {
    background: var(--color-bg);
    padding: 100px 0 40px;
    border-top: 1px solid var(--color-border);
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 80px;
}

.footer-brand {
    max-width: 350px;
}

.footer-brand h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #fff;
}

.footer-brand p {
    color: var(--color-text-secondary);
    line-height: 1.6;
}

.footer-links-group {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-column h4 {
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0.5rem;
}

.footer-column a {
    color: var(--color-text-secondary);
    font-size: 0.95rem;
}

.footer-column a:hover {
    color: #fff;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.copyright span {
    color: var(--color-text-secondary);
    font-size: 0.9rem;
    /* opacity: 0.6; */
}

.legal-links {
    display: flex;
    gap: 40px;
}

.legal-links a {
    color: var(--color-text-secondary);
    font-size: 0.9rem;
    text-decoration: none;
    opacity: 0.6;
    transition: opacity 0.2s;
}

.legal-links a:hover {
    opacity: 1;
    color: #fff;
}

/* Response Design */
@media (max-width: 992px) {
    .footer-links-group {
        gap: 60px;
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 60px 0 40px;
    }

    .footer-top {
        flex-direction: column;
        gap: 40px;
    }

    .footer-links-group {
        gap: 40px;
        justify-content: space-between;
        width: 100%;
    }

    .footer-bottom {
        flex-direction: column-reverse;
        /* Copyright at bottom */
        gap: 30px;
        text-align: center;
    }

    .legal-links {
        justify-content: center;
        width: 100%;
        gap: 20px;
    }
}